body{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:20px;
    background:#eff3f6;
}

#innerContent{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    opacity: 0.9;
    width: 700px;
}

#answer{
    font-size: 10px;
    margin-left: 550px;
    margin-top: 400px;
    position: absolute;
}

#answer input{
    float:left;
    font-size:25px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 0 20px 10px;
}

#table_wrapper{
    font-size: 15px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#table{
    margin-top: 50px;
    position: absolute;
    margin-left : 240px;
    background-color: #d9e3ee;
    border: 1px black solid;
    padding: 5px;
    border-collapse: collapse;
    width: 70%;
    font-size: 13px;
    z-index : -100;
}

td, th{
    margin: auto;
    border: 1px solid #eee;
    padding: .6em 10px; 
}

#table td:hover{
    background-color: #91D2FF;
}

#table td:active, #table td:focus{
    background-color: burlywood;
}

#group{
    position: absolute;
    width: 200px;
    margin-left: 1000px;
    margin-top: 250px;
    border: 1px solid RGB(71, 94, 118);
    background-color: RGB(44, 71, 98);
    padding: 10px;
}

#login{
    border: 1px solid RGB(44, 71, 98);
    background-color: RGB(71, 94, 118);
    font-size: 15px;
    padding: 10px;
    width: 90px;
    margin-top: 470px;
    margin-left: 670px;
    position: absolute;
}

#reg_page{
    border: 1px solid RGB(44, 71, 98);
    background-color: RGB(71, 94, 118);
    font-size: 15px;
    padding: 10px;
    width: 80px;
    text-align: center;
    margin-top: 470px;
    margin-left: 770px;
    position: absolute;
}

#reg_page a{
    text-decoration: none;
    color: white;
}

#reg_page a:link, #reg_page a:visited{
    color: white;
}

/* Pop-up meeting box*/
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 40px 0; position: absolute;}
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }



/* Tag-Editor */
attending label {
    font: bold italic 1.6em Times, 'Times New Roman', serif;
    font-size: 16px;
    text-transform: lowercase;
    color: #333;
    padding: .4em 0;
}

#attending input:focus {
    outline: none;
}

.tag-editor {
    -webkit-border-radius: 3px;
    padding: 10px;
    border-color: #aacfe4;
}

.tag-editor label { display: block; }

.tag-editor input {
    border: none;
    background: none;
    padding: .2em 0;
    width: 50px;
    /*  float: left;*/
}

.tag-editor .tags-container {
    background: white;
    -webkit-border-radius: 3px;
    padding: 3px;
    margin: 0;
    width: 200px;
}

.tag-editor span {
    background: #eee;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    -webkit-border-radius: 2px;
    margin: 0 .4em .4em 0;
    padding: 0 .2em 0 .4em;
    display: block;
    float: left;
}

.tag-editor span a {
    -webkit-border-radius: 2px;
    padding: 0 .4em;
    color: #999999;
    text-decoration: none;
    margin-left: .4em;
}
.tag-editor span a:hover {
    color: #ccc;
}

.tag-editor span a:active {
    color: white;
}

.visualClear { 
    clear: both; 
}

.boxBody
{
    background:#fefefe;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:10px 20px;
}

.box
{
    background:#fefefe;
    border: 1px solid #C3D4DB;
    border-top:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
    overflow:hidden;
}
.box.login a
{
    text-decoration : none;
}
.box.login li {
    display : block;
}


/*_________________________________________ 

                NAVIGATION
____________________________________________*/


#wrapper_menu {
	width: 980px;
	margin:0 auto;
	display:block;
	position: relative;
	z-index:9999;
}
.menu {
    background-color: black;
	list-style:none;
	width:940px;
	margin:30px auto 0px auto;
	height:43px;
	padding:0px 20px 0px 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.menu li {
	float:left;
	text-align:center;
	position:relative;
	margin-right:20px;
	margin-top:6px;
	border:none;
}

.menu li:hover {
	background:#eeeeee;
	border:1px solid #444444;
	border-bottom:none;
	margin-right:19px;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	background: -o-linear-gradient(top, #F4F4F4, #EEEEEE);
	-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.menu li a {
	color: #EEEEEE;
	outline:0;
	padding: 5px 10px 3px 10px;
	text-decoration:none;
	display:block;
	text-shadow: 1px 1px 1px #000;
        font-size: 15px;
}
.menu li:hover a {
	color:#161616;
	text-shadow: none;
	position:relative;
	z-index:11;
	border-bottom:1px solid #EEEEEE;
	padding: 4px 9px 4px 9px;
}
.menu li:hover div a {
	display:inline;
}

/* Right aligned menu item */

.menu .right {
	float:right;
	right:0;
	margin-right:0px;
}
.menu li.right:hover {
	margin-right:-1px;
}



/*  _______________________________________

	02 DROP DOWN MENU
    _______________________________________  */



/* Left & right aligned common styles */
 
.menu .dropdown_2columns, 
.menu .dropdown_fullwidth {
	margin:4px auto;
	left:-999em;
	position:absolute;
	background:#eeeeee;
	border:1px solid #444444;
	padding:10px;
	text-align:left;
	-moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    -khtml-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
	background: -o-linear-gradient(top, #EEEEEE, #BBBBBB);
}



/* Showing Drop Down on Mouse Hover - Right aligned */

.menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}
.menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:25px;
}
.menu li.right:hover .dropdown_fullwidth {
	right:18px;
	top:33px;
}

.menu li:hover div a {
	text-decoration:none;
	text-shadow:none;
	border:none;
	padding:0;
}

/*  _______________________________________

	 CONTACT FORM
    _______________________________________  */



.menu form {
	margin:0 0 15px 0;
	padding:0px;
}

/* Labels & fieldsets stylings */

.menu h2{
   font-size: 20px; 
}

.menu fieldset {
	margin:0;
	border:none;
}		
.menu form p {
	margin:10px 0;
	overflow:hidden;
	width:270px;
}

.menu label {
	float:left;
	display:block;
	text-align:left;
	width:50px;
        font-size: 12px;
}	
.menu input,
.menu textarea {	
	margin:0;	
	width:170px;
	float:right;
	color:#eeeeee;	
	background-color:#222222;
	border:1px solid #0A0A0A;
	padding:3px 5px 3px 5px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}		
.menu textarea {
	height:100px;
	overflow:auto;
}					

